.about-us {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.building-svg {
  justify-self: center;
  width: 80%;
  height: 80%;
}
.content-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.content-title span {
  color: #db324d;
}
.content-text {
  font-size: 22px;
  text-align: justify;
}

@media (max-width: 720px) {
  .about-us {
    grid-template-columns: 1fr;
  }
  .content {
    grid-row: -1;
  }
  .content-title {
    font-size: 3rem;
  }
  .content-text {
    font-size: 18px;
  }
}
